<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

    <!-- Google Tag Manager -->
    <script>
      console.log('Some metafield here', '{{ shop.metafields.global.google_tag_manager_id }}');
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
              j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
              'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WB6W9KG');
    </script>
    <!-- End Google Tag Manager -->
    {% if first_time_accessed %}
      <script>
        window.dataLayer = window.dataLayer || [];

        window.dataLayer.push({user_data: {
          email: Shopify.checkout.email,
          phone_number: Shopify.checkout.billing_address.phone || Shopify.checkout.shipping_address.phone || null,
          first_name: Shopify.checkout.billing_address.first_name || Shopify.checkout.shipping_address.first_name || null,
          last_name: Shopify.checkout.billing_address.last_name || Shopify.checkout.shipping_address.last_name || null,
          street: Shopify.checkout.billing_address.address1 || Shopify.checkout.shipping_address.address1 || null,
          city: Shopify.checkout.billing_address.city || Shopify.checkout.shipping_address.city || null,
          region: Shopify.checkout.billing_address.province || Shopify.checkout.shipping_address.province || null,
          country: Shopify.checkout.billing_address.country || Shopify.checkout.shipping_address.country || null,
          postcode: Shopify.checkout.billing_address.zip || Shopify.checkout.shipping_address.zip || null
        }});

        window.dataLayer.push({
          event: 'purchase',
          currency: Shopify.checkout.total_price_set.presentment_money.currency_code,
          transaction_id: '{{ order.order_number }}',
          value: Shopify.checkout.total_price_set.presentment_money.amount,
          discount: Shopify.checkout.discount == null ? 0 : Shopify.checkout.discount.amount,
          coupon: Shopify.checkout.discount.code,
          shipping: Shopify.checkout.shipping_rate.price,
          tax: Shopify.checkout.total_tax,
          items: Shopify.checkout.line_items.map(item => ({
            item_id: item.sku,
            item_name: item.title,
            item_brand: item.vendor,
            price: item.price,
            quantity: item.quantity,
          }))
        });
      </script>
    {% endif %}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WB6W9KG"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ skip_to_content_link }}

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}
  </body>
</html>
