
<style>
  /* info (hed, dek, source, credit) */
  .rg-container {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    padding: 1em 0.5em;
    color: rgb(var(--color-foreground)) !important;
  }
  .rg-header {
    margin-bottom: 1em;
    text-align: left;
  }

  .rg-header > * {
    display: block;
  }
  .rg-hed {
    font-weight: bold;
    font-size: 1.4em;
  }
  .rg-dek {
    font-size: 1em;
  }

  /* table */
  table.rg-table {
    width: 100%;
    margin-bottom: 0.5em;
    font-size: 1em;
    border-collapse: collapse;
    border-spacing: 0;
  }
  table.rg-table tr {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-align: left;
    color: #333;
  }

  table.rg-table tr.available-product {
    cursor: pointer;
  }

  table.rg-table tr.available-product td {
    color: rgb(var(--color-foreground));
  }

  table.rg-table tr.available-product td.date-sold {
    color: rgb(var(--color-button));
  }

  table.rg-table thead {
    border-bottom: 3px solid #ddd;
  }
  table.rg-table tr {
    border-bottom: 1px solid #ddd;
    color: rgb(var(--color-foreground)) !important;
  }
  table.rg-table tr.available-product:hover {
    transition: transform 0.125s;
    transform: scale(1.025);
  }
  table.rg-table tr.highlight {
    background-color: #dcf1f0 !important;
  }
  table.rg-table.zebra tr:nth-child(even) {
    background-color: #f6f6f6;
  }
  table.rg-table th {
    font-weight: bold;
    padding: 0.35em;
    font-size: 0.9em;
  }
  table.rg-table td {
    padding: 0.35em;
    font-size: 0.9em;
    vertical-align: middle;
  }
  table.rg-table .highlight td {
    font-weight: bold;
  }
  table.rg-table th.number, td.number {
    text-align: right;
  }
  table.rg-table th.image, td.image, th.quality-control, td.quality-control {
    text-align: center;
  }

  table.rg-table td.quality-control {
    margin: 0;
  }

  /* media queries */
  @media screen and (max-width: 600px) {
    .rg-container {
      max-width: 600px;
      margin: 0 auto;
    }
    table.rg-table {
      width: 100%;
    }
    table.rg-table tr.hide-mobile,
    table.rg-table th.hide-mobile,
    table.rg-table td.hide-mobile {
      display: none;
    }
    table.rg-table thead {
      display: none;
    }
    table.rg-table tbody {
      width: 100%;
    }
    table.rg-table tr,
    table.rg-table th,
    table.rg-table td {
      display: block;
      padding: 0;
    }
    table.rg-table tr {
      border-bottom: none;
      margin: 0 0 1em 0;
      padding: 0.5em;
    }
    table.rg-table tr.highlight {
      background-color: inherit !important;
    }
    table.rg-table.zebra tr.available-product:nth-child(even),
    table.rg-table.zebra tr:nth-child(even) {
      background-color: transparent;
    }
    table.rg-table.zebra td:nth-child(even) {
      background-color: #f6f6f6;
    }
    table.rg-table tr.available-product:nth-child(even),
    table.rg-table tr:nth-child(even) {
      background-color: transparent;
    }
    table.rg-table tr.available-product:nth-child(even) td {
      color: rgb(var(--color-foreground)) !important;
    }
    table.rg-table td {
      padding: 0.5em 0 0.25em 0;
      border-bottom: 1px dotted #ccc;
      text-align: right;
    }
    table.rg-table td.quality-control {
      padding: 0.5em 0 0.2em 0;
    }
    table.rg-table td[data-title]:before {
      content: attr(data-title);
      font-weight: bold;
      display: inline-block;
      content: attr(data-title);
      float: left;
      margin-right: 0.5em;
      font-size: 0.95em;
    }
    table.rg-table td:last-child {
      padding-right: 0;
      border-bottom: 2px solid #ccc;
    }
    table.rg-table td:empty {
      display: none;
    }
    table.rg-table .highlight td {
      background-color: inherit;
      font-weight: normal;
    }
  }
</style>


{% comment %}Calculate whether any products are available to know if the table should be shown at all{% endcomment %}
{% assign products_available = false %}

{% for product in product.metafields.kameratori.stock_items.value %}
  {% if product.available %}
    {% assign products_available = true %}
  {% endif %}
{% endfor %}


<section class="page-width">
  {% if product.metafields.kameratori.sales or products_available %}
    {% assign condition_map = shop.metafields.kameratori.condition_map.value %}

    <div class="rg-container">
      <table class="rg-table zebra">
        <caption class="rg-header">
          <span class="rg-hed">{{ product.title }}</span>
          <span class="rg-dek">Availability & Price History</span>
        </caption>
        <thead>
          <tr>
            <th class="text">Date Sold</th>
            <th class="text">SKU</th>
            <th class="quality-control">Quality Control</th>
            <th class="number">Price</th>
            <th class="image">Image</th>
          </tr>
        </thead>
        <tbody>
          {% comment %}Available products: {% endcomment %}
          {% assign current_product = product %}

          {% for product in current_product.metafields.kameratori.stock_items.value %}
            {% if product.available %}
              <tr class="available-product" onclick="window.location='{{ product.url }}';">
                <td class="text date-sold" data-title="Date Sold">Available</td>
                <td class="text" data-title="SKU">{{ product.selected_or_first_available_variant.sku }}</td>

                {% assign quality_control = product.metafields.kameratori.quality_control.value %}
                <td class="quality-control">{%- render 'qc-badge', value: quality_control -%}</td>

                <td class="number" data-title="Price">{{ product.selected_or_first_available_variant.price | money }}</td>
                <td class="image" data-title="Image">
                  {{ product | image_url: height: 50 | image_tag }}
                </td>
              </tr>
            {% endif %}
          {% endfor %}

          {% comment %}Sold products: {% endcomment %}
          {% if product.metafields.kameratori.sales %}
            {% for sale in product.metafields.kameratori.sales.value.sales %}
              <tr>
                <td class="text" data-title="Date Sold">{{ sale.sold_at | date : "%d %b %Y" }}</td>
                <td class="text" data-title="SKU">{{ sale.sku }}</td>
                <td class="quality-control">{% if sale.quality_control_value %}
                  {%- render 'qc-badge', value: sale.quality_control_value -%}
                  {% else %} 
                  {%- render 'qc-badge', value: sale.quality_control -%}
                {% endif %}</td>
                <td class="number" data-title="Price">€&nbsp;{{ sale.price | times: 100 | money_without_currency }}</td>
                <td class="image" data-title="Image">
                  <a href="{{ sale.image.src }}" target="_blank">
                    <img
                            src="{{ sale.image.src | append: "&height=50" }}"
                            alt="{{ product.title }} Image"
                            height="50" />
                  </a>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  {% endif %}
</section>


{% schema %}
{
  "name": "t:sections.database-product-price-table.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [],
  "presets": [
    {
      "name": "t:sections.database-product-price-table.presets.name"
    }
  ]
}
{% endschema %}
