<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
    grid-area: left-icon;
    width: 6.4rem;
  }

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: 1.3;
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: 1.8;
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }






  /* Language switcher styles  */

  header.header section.language-switcher {
    grid-area: language-switcher;
    width: 6.4rem;
    font-size: 1.5rem;
    position: relative;
  }

  header.header section.language-switcher > div.summary {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  header.header section.language-switcher > div.summary > * {
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(var(--color-foreground));
  }

  header.header section.language-switcher > div.summary > span.country-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10rem;
    overflow: hidden;
  }

  header.header section.language-switcher > div.summary > span.country-name,
  header.header section.language-switcher > div.summary > span.currency-symbol {
    display: none;
  }

  header.header section.language-switcher > div.summary > span.currency-iso-code {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-top: 0.4rem;
  }

  header.header section.language-switcher > div.summary > div.language-bubble {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  header.header section.language-switcher > div.summary > div.language-bubble > svg {
    position: relative;
    width: 2.8rem;
    height: 2.8rem;
  }

  header.header section.language-switcher > div.summary > div.language-bubble > span.language-code {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(var(--color-background));
    font-weight: bold;
    font-size: 1.4rem;
  }



  body.language-switcher-modal-open {
    overflow: hidden;
  }

  body.language-switcher-modal-open header.header section.language-switcher > div.modal-container {
    display: flex;
  }

  header.header section.language-switcher > div.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    justify-content: center;
    align-items: center;
    font-weight: normal;
    padding: 0 3.2rem;
    margin-left: 0;
    z-index: 10;
    display: none;
    cursor: default;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup {
    position: relative;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
    max-width: 37.5rem;
    width: 100%;
    border-radius: 0.8rem;
    padding: 4.8rem 1.6rem 2.4rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > a.close {
    position: absolute;
    right: 1.6rem;
    top: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > a.close:hover {
    text-decoration: underline;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > a.close > svg {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 0.4rem;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details {
    position: relative;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form:first-of-type {
    margin-bottom: 1.6rem;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > summary {
    border-radius: 0.8rem;
    border: none;
    color: rgb(var(--color-background-2));
    background-color: rgb(var(--color-background));
    filter: brightness(1.15);
    width: 100%;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    appearance: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > summary > svg {
    transition: transform 0.25s
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details[open] > summary {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details[open] > ul {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details[open] > summary > svg {
    transform: rotate(180deg);
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul {
    position: absolute;
    z-index: 1;
    background-color: rgb(var(--color-background));
    filter: brightness(1.15);
    margin: 0;
    width: calc(100%);
    border-radius: 0.8rem;
    padding: 0;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul.available-countries {
    overflow: auto;
    max-height: calc(50vh - 1.5rem);
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul.available-languages {
    overflow: auto;
    max-height: calc(50vh - 10.5rem);
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0.6rem 2.4rem 0.6rem 1.6rem;
    cursor: pointer;
    color: rgb(var(--color-background-2));
    align-items: center;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul > li.selected > svg {
    visibility: visible;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul > li:hover {
    background-color: rgb(var(--color-background));
    filter: brightness(0.85);
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul > li:not(:first-child) {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul > li > svg {
    height: 2.4rem;
    width: 2.4rem;
    visibility: hidden;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul > li > span.name {
    margin-left: 0.8rem;
  }

  header.header section.language-switcher > div.modal-container > div.modal-popup > form.language-switcher-form > details > ul > li > span.currency {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  @media screen and (min-width: 575px) {
    header.header section.language-switcher > div.summary {
      flex-direction: row;
    }

    header.header section.language-switcher > div.summary > *:not(:first-child) {
      margin-left: 0.8rem;
    }

    header.header section.language-switcher > div.summary > span.currency-iso-code {
      font-size: 1.6rem;
      line-height: 1.9rem;
      margin-top: 0;
    }
  }

  @media screen and (min-width: 810px) {
    header.header section.language-switcher {
      margin-right: 2rem;
      margin-left: 2rem;
      width: auto;
    }

    header.header section.language-switcher > div.summary > span.currency-symbol {
      display: inline;
      margin-left: 0.4rem;
    }
  }

  @media screen and (min-width: 990px) {
    header.header section.language-switcher > div.summary > span.country-name {
      display: inline;
    }

    header.header section.language-switcher > div.summary > span.currency-iso-code {
      display: none;
    }

    header.header section.language-switcher > div.summary > span.country-name {
      max-width: 20rem;
    }
  }

</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<script>
  function addDetailsCloseListener (detailsElement) {
    window.addEventListener('click', (event) => {
      let closestDetails = event.target.closest('details');
      if (closestDetails !== detailsElement) {
        detailsElement.removeAttribute('open');
      }
    });
  }

  function openLanguageSwitcherModal () {
    document.querySelector('body').classList.add('language-switcher-modal-open');
  }

  function closeLanguageSwitcherModal () {
    document.querySelector('body').classList.remove('language-switcher-modal-open');
  }

  document.addEventListener('DOMContentLoaded', () => {
    addDetailsCloseListener(document.querySelector('details.language-select'));
    addDetailsCloseListener(document.querySelector('details.country-select'));

    function languageFormLIClick (event) {
      const form = event.currentTarget.closest('form.language-switcher-form');
      const code_input = form.querySelector('input[name="language_code"], input[name="country_code"]');
      code_input.value = event.currentTarget.dataset.value;
      form.submit();
    }

    document.querySelectorAll('form.language-switcher-form li')
      .forEach(item => item.addEventListener('click', languageFormLIClick));
  });
</script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    <!-- Mobile burger menu -->
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link link--text focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu list-menu" role="list">
                    {%- for link in section.settings.menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details>
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  {% render 'icon-arrow' %}
                                  {{ link.title | escape }}
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details>
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link link--text focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    <!-- Header logo : h1 only added on index page -->
    {%- if request.page_type == 'index' -%}
    <h1 class="header__heading">
    {%- endif -%}
      <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
        {%- if section.settings.logo != blank -%}
          {%- assign image_size = section.settings.logo_width | append: 'x' -%}
          <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
               src="{{ section.settings.logo | img_url: image_size }}"
               loading="lazy"
               class="header__heading-logo"
               width="{{ section.settings.logo.width }}"
               height="{{ section.settings.logo.height }}"
               alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
          >
        {%- else -%}
          <span class="h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
    {%- if request.page_type == 'index' -%}
    </h1>
    {%- endif -%}

    <!-- Search -->
    <div class="search-modal__content header__search" tabindex="-1">
    {%- if settings.predictive_search_enabled -%}
      <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
        {%- endif -%}
        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
          <div class="field">
            <input class="search__input field__input"
                   id="Search-In-Modal-1"
                   type="search"
                   name="q"
                   value=""
                   placeholder="{{ 'general.search.search' | t }}"
              {%- if settings.predictive_search_enabled -%}
                role="combobox"
                aria-expanded="false"
                aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list"
                aria-haspopup="listbox"
                aria-autocomplete="list"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
            <input type="hidden" name="options[prefix]" value="last">
            <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
              <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11" cy="11" r="7" stroke="white" stroke-width="2"/>
                <path d="M20 20L17 17" stroke="white" stroke-width="2" stroke-linecap="round"/>
              </svg>

            </button>
          </div>

          {%- if settings.predictive_search_enabled -%}
            <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
              <div class="predictive-search__loading-state">
                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>

            <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
          {%- endif -%}
        </form>
        {%- if settings.predictive_search_enabled -%}
      </predictive-search>
      {%- endif -%}
      {% comment %}<button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">{% endcomment %}
      {% comment %}<svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">{% endcomment %}
      {% comment %}<use href="#icon-close">{% endcomment %}
      {% comment %}</svg>{% endcomment %}
      {% comment %}</button>{% endcomment %}
    </div>

    <!-- Language Switcher -->
    <section class="language-switcher">
      <div class="summary" onclick="openLanguageSwitcherModal();">
        <div class="language-bubble">
          {% render 'icon-language-bubble' %}
          <span class="language-code">{{ localization.language.iso_code }}</span>
        </div>

        <span class="country-name">{{ localization.country.name }}</span>
        <span class="currency-iso-code">{{ localization.country.currency.iso_code }}</span>
        <span class="currency-symbol">{{ localization.country.currency.symbol }}</span>
      </div>


      <div class="modal-container">
        <div class="modal-popup">
          <a class="close" onclick="closeLanguageSwitcherModal();">
            {{ 'accessibility.close' | t }}
            {% render 'icon-close-2' %}
          </a>
          {%- form 'localization', id: 'CountryForm', class: 'language-switcher-form' -%}
            <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
            <span>{{ 'localization.country_label' | t }}</span>
            <details class="country-select">
              <summary>
                <span>{{ localization.country.name }}</span>
                {% render 'icon-arrow-dropdown' %}
              </summary>
              <ul class="available-countries">
                {%- for country in localization.available_countries -%}
                  <li data-value="{{ country.iso_code }}" {% if country.iso_code == localization.country.iso_code -%}class="selected"{%- endif -%}>
                    {%- render 'icon-checkmark-2' -%}️
                    <span class="name">{{ country.name }}</span>
                    <span class="currency">{{ country.currency.iso_code }} {{ country.currency.symbol }}</span>
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          {%- endform -%}

          {%- form 'localization', id: 'LanguageForm', class: 'language-switcher-form' -%}
            <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
            <span>{{ 'localization.language_label' | t }}</span>
            <details class="language-select">
              <summary>
                <span>{{ localization.language.name }}</span>
                {% render 'icon-arrow-dropdown' %}
              </summary>
              <ul class="available-languages">
                {%- for language in localization.available_languages -%}
                  <li data-value="{{ language.iso_code }}" {% if language.iso_code == localization.language.iso_code -%}class="selected"{%- endif -%}>
                    {%- render 'icon-checkmark-2' -%}
                    <span class="name">{{ language.name }}</span>
                  </li>
                {%- endfor -%}
              </ul>
            </details>
          {%- endform -%}

        </div>
      </div>
    </section>

    <!-- Icons: Account, search and cart -->
    <div class="header__icons">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link link--text focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content" tabindex="-1">
            {%- if settings.predictive_search_enabled -%}
              <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                           id="Search-In-Modal"
                           type="search"
                           name="q"
                           value=""
                           placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
                {%- if settings.predictive_search_enabled -%}
              </predictive-search>
              {%- endif -%}
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link link--text focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          <div class="full-text">
            <span class="label">{{ 'customer.account.title' | t }}</span>
            {% unless customer %}
              <span class="action">{{ 'customer.log_in' | t }}</span>
            {% else %}
              <span class="action">{{ customer.first_name }}</span>
            {% endunless %}
          </div>
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>

  <!-- Wide desktop menu -->
  {%- if section.settings.menu != blank -%}
    <nav class="header__inline-menu">
      <ul class="list-menu list-menu--inline" role="list">
        {%- for link in section.settings.menu.links -%}
          <li>
            {%- if link.links != blank -%}
              <details-disclosure>
                <details>
                  <summary class="header__menu-item list-menu__item link focus-inset">
                    <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                    {% render 'icon-caret' %}
                  </summary>
                  <ul class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                    {%- for childlink in link.links -%}
                      <li>
                        {%- if childlink.links == blank -%}
                          <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                            {{ childlink.title | escape }}
                          </a>
                        {%- else -%}
                          <details>
                            <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                              {{ childlink.title | escape }}
                              {% render 'icon-caret' %}
                            </summary>
                            <ul class="header__submenu list-menu motion-reduce">
                              {%- for grandchildlink in childlink.links -%}
                                <li>
                                  <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                    {{ grandchildlink.title | escape }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </details>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </details>
              </details-disclosure>
            {%- else -%}
              <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  {%- endif -%}

</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }


      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('details-disclosure');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);

{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
