
<style>
  hr.main-product-description.shallow {
    margin: 2rem 0;
  }

  @media screen and (min-width: 750px) {
    hr.main-product-description.shallow {
      margin: 3rem 0;
    }
  }
</style>


{% comment %}Calculate whether any products are available to know if the table should be shown at all{% endcomment %}
{% assign products_available = false %}

{% for product in product.metafields.kameratori.stock_items.value %}
  {% if product.available %}
    {% assign products_available = true %}
  {% endif %}
{% endfor %}

<section class="page-width page-width--narrow">
  <h2>Description</h2>
  <h3>{{ product.title }}</h3>
  <p>{{ product.description }}</p>

  {% if product.metafields.global.description_tag != nil %}
    {% comment %}If global.description_tag is filled then the product description doesn't contain the database description any more{% endcomment %}

    {% comment %}Kit item inventory descriptions{% endcomment %}
    {% for kit_description in product.metafields.kameratori.kit_product_descriptions.value %}
      {% if kit_description.description != nil %}
        <b>{{ kit_description.brand }} {{ kit_description.model }}</b>
        <p>{{ kit_description.description }}</p>
      {% endif %}
    {% endfor %}

    {% comment %}Main DB product desription{% endcomment %}
    {% assign host_product = product.metafields.kameratori.host.value %}
    <hr class="main-product-description shallow" />
    <b>{{ host_product.title }}</b>
    <p>{{ host_product.description }}</p>

    {% comment %}Kit DB descriptions{% endcomment %}
    {% for kit_product in product.metafields.kameratori.kit_products.value %}
      {% if kit_product.description != blank %}
        <hr class="main-product-description shallow" />
        <b>{{ kit_product.title }}</b>
        <p>{{ kit_product.description }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
</section>


{% schema %}
{
  "name": "t:sections.main-product-description.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [],
  "presets": [
    {
      "name": "t:sections.main-product-description.presets.name"
    }
  ]
}
{% endschema %}
