
<style>
  hr.main-product-description.shallow {
    margin: 2rem 0;
  }

  @media screen and (min-width: 750px) {
    hr.main-product-description.shallow {
      margin: 3rem 0;
    }
  }
</style>

<section class="page-width page-width--narrow">
  {% assign previous_section_shown = false %}
  {% if section.settings.heading != blank %}
    <h2>{{ section.settings.heading }}</h2>
  {% endif %}

  {% if section.settings.show_main_stock_title and product.title != blank %}
    <h3>{{ product.title }}</h3>
  {% endif %}
  {% if section.settings.show_main_stock_description and product.description != blank %}
    {% assign previous_section_shown = true %}
    <p>{{ product.description }}</p>
  {% endif %}

  {% comment %}If global.description_tag is filled then the product description doesn't contain the database description any more{% endcomment %}
  {% if product.metafields.global.description_tag != nil %}

    {% if section.settings.show_main_kit_stock %}
      {% comment %}Kit item inventory descriptions{% endcomment %}
      {% for kit_description in product.metafields.kameratori.kit_product_descriptions.value %}
        {% if kit_description.description != nil %}
          {% assign previous_section_shown = true %}
          <b>{{ kit_description.brand }} {{ kit_description.model }}</b>
          <p>{{ kit_description.description }}</p>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if section.settings.show_main_database %}
      {% comment %}Main DB product desription{% endcomment %}
      {% assign host_product = product.metafields.kameratori.host.value %}
      {% if host_product != nil and host_product.description != blank %}
        {% if previous_section_shown %}
          <hr class="main-product-description shallow" />
        {% endif %}
        <b>{{ host_product.title }}</b>
        <p>{{ host_product.description }}</p>
        {% assign previous_section_shown = true %}
      {% endif %}
    {% endif %}

    {% if section.settings.show_main_kit_database %}
      {% comment %}Kit DB descriptions{% endcomment %}
      {% for kit_product in product.metafields.kameratori.kit_products.value %}
        {% if kit_product.description != blank %}
          {% if previous_section_shown %}
            <hr class="main-product-description shallow" />
          {% endif %}
          <b>{{ kit_product.title }}</b>
          <p>{{ kit_product.description }}</p>
          {% assign previous_section_shown = true %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
</section>


{% schema %}
{
  "name": "t:sections.main-product-description.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Description",
      "label": "t:sections.main-product-description.settings.heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product-description.settings.header.main_product"
    },
    {
      "type": "checkbox",
      "id": "show_main_stock_title",
      "default": true,
      "label": "t:sections.main-product-description.settings.show_main_stock_title.label"
    },
    {
      "type": "checkbox",
      "id": "show_main_stock_description",
      "default": true,
      "label": "t:sections.main-product-description.settings.show_main_stock_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_main_database",
      "default": true,
      "label": "t:sections.main-product-description.settings.show_main_database.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product-description.settings.header.kit_products"
    },
    {
      "type": "checkbox",
      "id": "show_main_kit_stock",
      "default": true,
      "label": "t:sections.main-product-description.settings.show_main_kit_stock.label"
    },
    {
      "type": "checkbox",
      "id": "show_main_kit_database",
      "default": true,
      "label": "t:sections.main-product-description.settings.show_main_kit_database.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-product-description.presets.name"
    }
  ]
}
{% endschema %}
