{{ 'section-qc-cards.css' | asset_url | stylesheet_tag }}
<div class="qc-container--color-{{ section.settings.bg-color }}">
  <div class="qc-cards-container">
{%- for block in section.blocks -%}
{%- case block.type -%}
  {%- when 'qc_passed_card' and -%}
  {% assign qc_values = shop.metaobjects.quality_control.passed %}
  {%- if block.settings.qc-passed -%}
    <div class="qc-card">
      <div class="qc-img">
          <img
          src={{ qc_values.highlight_image | file_url }} width="auto" height="auto" loading="lazy" alt={{ qc_values.highlight_image.value.alt }}>
      </div>
      <div class="qc-card--heading">
        <div class="qc-badge-title h3">
          {%- render 'qc-badge-small-color', value: qc_values.title -%}
          {{ qc_values.title }}
        </div>
        <div class="qc-collection-qty">(
          <a href={{ qc_values.collection.value.url }}>{{ qc_values.collection.value.all_products_count }}</a>)
        </div>
      </div>
      <div class="qc-card-description">
        {{ qc_values.description_medium }}
        {%- if block.settings.qc-passed-link -%}
        <div class="qc-card-link">
          {{ block.settings.passed-link-text }}
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  {%- when 'qc_not_passed_card' and -%}
    {% assign qc_values = shop.metaobjects.quality_control.not-passed %}
    {%- if block.settings.qc-not-passed -%}
      <div class="qc-card">
        <div class="qc-img">
          <img
          src={{ qc_values.highlight_image | file_url }} width="auto" height="auto" loading="lazy" alt={{ qc_values.highlight_image.value.alt }}>
        </div>
        <div class="qc-card--heading">
          <div class="qc-badge-title h3">
          {%- render 'qc-badge-small-color', value: qc_values.title -%}
          {{ qc_values.title }}
          </div>
          <div class="qc-collection-qty">(
            <a href={{ qc_values.collection.value.url }}>{{ qc_values.collection.value.all_products_count }}</a>)
          </div>
        </div>
        <div class="qc-card-description">
          {{ qc_values.description_medium }}
          {%- if block.settings.qc-not-passed-link -%}
          <div class="qc-card-link">
            {{ block.settings.not-passed-link-text }}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
  {%- when 'qc_certified_card' and -%}
    {% assign qc_values = shop.metaobjects.quality_control.certified %}
    {%- if block.settings.qc-certified -%}
      <div class="qc-card">
        <div class="qc-img">
          <img
           src={{ qc_values.highlight_image | file_url }} width="auto" height="auto" loading="lazy" alt={{ qc_values.highlight_image.value.alt }}>
        </div>
        <div class="qc-card--heading">
          <div class="qc-badge-title h3">
              {%- render 'qc-badge-small-color', value: qc_values.title -%}
        {{ qc_values.title }}
          </div>
          <div class="qc-collection-qty">(
            <a href={{ qc_values.collection.value.url }}>{{ qc_values.collection.value.all_products_count }}</a>)
          </div>
        </div>
        <div class="qc-card-description">
          {{ qc_values.description_medium }}
          {%- if block.settings.qc-certified-link -%}
          <div class="qc-card-link">
            {{ block.settings.certified-link-text }}
          </div>
          {% endif %}
        </div>
    </div>
      {% endif %}
  {%- when 'qc_restored_card' and -%}
  {% assign qc_values = shop.metaobjects.quality_control.restored %}
    {%- if block.settings.qc-restored -%}
    <div class="qc-card">
      <div class="qc-img">
        <img
        src={{ qc_values.highlight_image | file_url }} width="auto" height="auto" loading="lazy" alt={{ qc_values.highlight_image.value.alt }}>
    </div>
      <div class="qc-card--heading">
        <div class="qc-badge-title h3">
          {%- render 'qc-badge-small-color', value: qc_values.title -%}  
          {{ qc_values.title }}
        </div>
        <div class="qc-collection-qty">(
          <a href={{ qc_values.collection.value.url }}>{{ qc_values.collection.value.all_products_count }}</a>)
        </div>
      </div>
      <div class="qc-card-description">
        {{ qc_values.description_medium }}
        {%- if block.settings.qc-restored-link -%}
        <div class="qc-card-link">
          {{ block.settings.restored-link-text }}
        </div>
        {%- endif -%}
      </div>
    </div>
    {% endif %}
{%- endcase -%}
{%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "QC Cards",
  "settings":[{
      "type": "select",
      "id": "bg-color",
      "options": [
        {
          "value": "background-1",
          "label": "background-1"
        },
        {
          "value": "background-2",
          "label": "background-2"
        },
        {
          "value": "no-background",
          "label": "no-background"
        }
      ],
      "default": "no-background",
      "label": "no-background"
    }],
  "blocks": [
    {
      "type": "qc_passed_card",
      "name": "QC Passed Card",
      "settings": [
        {
          "type": "checkbox",
          "id": "qc-passed",
          "default": true,
          "label": "QC Passed Card"
        },
        {
          "type": "checkbox",
          "id": "qc-passed-link",
          "default": false,
          "label": "Show QC Passed link"
        },
        {
          "type": "richtext",
          "id": "passed-link-text",
          "default": "<p>Add link to QC Passed product card.</p>",
          "label": "QC Passed link content"
        }
      ]
      },
      {
        "type": "qc_not_passed_card",
        "name": "QC Not Passed Card",
        "settings": [
          {
            "type": "checkbox",
            "id": "qc-not-passed",
            "default": true,
            "label": "QC Not Passed Card"
          },
          {
            "type": "checkbox",
            "id": "qc-not-passed-link",
            "default": false,
            "label": "Show QC Not Passed link"
          },
          {
            "type": "richtext",
            "id": "not-passed-link-text",
            "default": "<p>Add link to QC Not Passed product card.</p>",
            "label": "QC Not Passed link content"
          }
        ]
        },
        {
          "type": "qc_certified_card",
          "name": "QC Certified Card",
          "settings": [
            {
              "type": "checkbox",
              "id": "qc-certified",
              "default": true,
              "label": "QC Certified Card"
            },
            {
              "type": "checkbox",
              "id": "qc-certified-link",
              "default": false,
              "label": "Show QC Certified link"
            },
            {
              "type": "richtext",
              "id": "certified-link-text",
              "default": "<p>Add link to QC Certified card.</p>",
              "label": "QC Certified link content"
            }
          ]
          },
          {
            "type": "qc_restored_card",
            "name": "QC Restored Card",
            "settings": [
              {
                "type": "checkbox",
                "id": "qc-restored",
                "default": true,
                "label": "QC Restored Card"
              },
              {
                "type": "checkbox",
                "id": "qc-restored-link",
                "default": false,
                "label": "Show QC Restored link"
              },
              {
                "type": "richtext",
                "id": "restored-link-text",
                "default": "<p>Add link to QC Restored card.</p>",
                "label": "QC Restored link content"
              }
            ]
            }
      ],
      "presets": [
  {
    "name": "Quality Control Cards",
    "category": "ADVANCED LAYOUT",
  "blocks": [
      {
        "type": "qc_restored_card"
      },
      {
        "type": "qc_certified_card"
      },
      {
        "type": "qc_passed_card"
      },
      {
        "type": "qc_not_passed_card"
      }
    ]
    }
    ]
    }
{% endschema %}


